opportunity-transaction_project/src/main/mule/sf-opportunity-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="7280d33c-482c-4de8-94a7-bd0967dd6d0c" >
		<file:connection />
	</file:config>
	<flow name="sf-opportunity-project-Flow" doc:id="e8e879da-2107-479c-b218-6f829789f186" >
		<file:listener doc:name="On New or Updated File" doc:id="eae9a7ef-e99e-4d3f-a060-ab90ad5d6691" config-ref="File_Config" directory="C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF" autoDelete="true" outputMimeType="application/csv; separator=|; header=true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<set-variable value="#[uuid()]" doc:name="correlationID" doc:id="631e19c5-4083-448c-b1e8-ffc7c319d5ab" variableName="correlationID"/>
		<logger level="INFO" doc:name="start-log" doc:id="f24d7da9-1e85-45c4-905e-df7d6a983288" message='correlationID: #[vars.correlationID] Message: started sf-opportunity-project-Flow.'/>
		<ee:transform doc:name="convert-payload" doc:id="953ef2bc-1a53-4922-b639-06937865e998" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sf-opportunity-project-sub_Flow" doc:id="bdef84d1-dc55-4681-97b5-179d50ff9deb" name="sf-opportunity-project-sub_Flow"/>
	</flow>
	<sub-flow name="sf-opportunity-project-sub_Flow" doc:id="90eb58f0-a48a-4005-ae85-f931e8daed5c" >
		<logger level="INFO" doc:name="Logger" doc:id="a5e9285c-c113-43a8-8b8f-46eccbcfaaff" />
		<foreach doc:name="For Each" doc:id="0f5252b3-4165-40a6-81ed-133d6505a0a7" collection="#[payload]">
			<choice doc:name="Choice" doc:id="136ae133-56e3-4b75-80d7-322dd8f6a25f">
			<when expression='#[payload."Invoice Source" == "Datapipe"]'>
				<flow-ref doc:name="look-up-file" doc:id="0deb63f6-f912-4f16-972c-40f5da13832e" name="look-up-file" />
			</when>
			<otherwise>
				<flow-ref doc:name="query-salesforce" doc:id="9c437d48-3e73-4b8c-9534-360d2472e874" name="query-salesforce" />
			</otherwise>
		</choice>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="0df1e9c3-549d-4984-870b-3b69c95cfe8f" />
	</sub-flow>
	<sub-flow name="look-up-file" doc:id="22b9ce19-0fee-4452-a3fb-704ed09ffc1a" >
		<logger level="INFO" doc:name="Logger" doc:id="5a732a2b-33a5-4399-9190-d7f88a7e42f2" />
		<salesforce:query doc:name="Query" doc:id="37bec8b0-265d-46e5-9a01-1b172a5b3bad" />
		<logger level="INFO" doc:name="Logger" doc:id="503dd871-037d-4bda-bec8-c1f37870c769" />
	</sub-flow>
	<sub-flow name="query-salesforce" doc:id="153854c0-f478-43f5-aba4-2b43a53281cc" >
		<logger level="INFO" doc:name="Logger" doc:id="73407dec-be75-4390-965b-6f71aa9aa358" />
		<file:read doc:name="Read" doc:id="c2b90513-5c48-41d3-b58e-f0ef8fc2815a" />
		<logger level="INFO" doc:name="Logger" doc:id="fbf2252c-0ac2-434d-ba8d-a915f4356c79" />
	</sub-flow>
</mule>
