salesforce-opportunity/src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="us-cloud-sub-flow" doc:id="fea0096c-769d-4820-a8d9-2b49d7195a13" >
		<logger level="INFO" doc:name="start-log" doc:id="98b3070a-260c-4efc-8bfd-eecce2804066" />
		<ee:transform doc:name="var[query]" doc:id="7722f4de-4020-4d6b-963b-f75884cc0497" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output text/plain
var accountId = payload."Account Number"
---
"SELECT FIELDS(ALL) FROM Opportunity where AccountId = '" ++ accountId ++ "' limit 200"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="62500f48-8d17-4a09-9be8-35ef510e4336" >
			<salesforce:query doc:name="query-sf-opportunity" doc:id="2acb69cd-3823-439e-9d3f-77c2793ff26c" config-ref="Salesforce_Config">
			<error-mapping sourceType="SALESFORCE:INVALID_INPUT" targetType="OPPORTUNITY:ACCOUNT-NOT-FOUND" />
			<salesforce:salesforce-query><![CDATA[#[vars.query]]]></salesforce:salesforce-query>
		</salesforce:query>
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7f7eb69d-0d2d-4acb-90d7-6e82fdae1126" >
					<ee:transform doc:name="error-records" doc:id="29e9ddea-fabd-4bbd-a7a2-b8cd1b540f7c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
						<ee:variables />
					</ee:transform>
					<ee:transform doc:name="error-message" doc:id="1a1994ac-e6c5-481d-a8c8-4e81d0eebcb8" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true, separator = " "
---
{
	"ID": payload."Account Number",
	"Error": error.description
}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java
---
"C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF\Error\\" ++ "Error-" ++ payload."Account Number" ++ ".csv"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<flow-ref doc:name="common-write-sub-flow" doc:id="31c2c88b-e6e2-4f42-bda0-356332b8150a" name="common-write-sub-flow" />
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="sf-query-response" doc:id="2161acdc-d111-4b84-a798-071cdccaf7b8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ($ ++ vars.val)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="end-log" doc:id="ecf6a352-d4eb-4501-b568-b8d0f6a02dc2" />
	</flow>
	<sub-flow name="common-write-sub-flow" doc:id="8f9aaf21-110d-4e47-972c-34aa9f14e4d4" >
		<file:write doc:name="Write" doc:id="5a4c3bee-99fd-467b-9f6f-46837d2656a1" config-ref="File_Config" path="#[vars.path]"/>
	</sub-flow>
	<sub-flow name="datapipe-sub-flow" doc:id="3c42f05f-4da6-427b-af22-1b5b8895fe40" >
		<logger level="INFO" doc:name="start-log" doc:id="680271dc-45fb-489d-ba74-9a5e28e2a56c" />
		<file:read doc:name="read-lookup-file" doc:id="1c344791-d895-4837-aad1-f9ec7580b654" config-ref="File_Config" path="C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF\lookup\DPTransactionInfo.csv"/>
		<ee:transform doc:name="convert-payload" doc:id="fb0c752e-f7e6-4130-a641-f872322fff76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(flatten(vars.accountNumber map ((item, index) -> payload[?($.PartnerAccountId == item)]))[0] 	++ vars.val)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="end-log" doc:id="d53e62ca-5429-4574-a0e2-4b52ac318d17" />
	</sub-flow>
</mule>
