salesforce-opportunity/src/main/mule/salesforce-opportunity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="salesforce-opportunityFlow" doc:id="dc491c37-ed78-4cf1-b472-435de51e8254" >
		<file:listener doc:name="read-records" doc:id="9199396d-84a9-4993-a94a-78ba4ad6ec0b" directory="${file.readPath}" config-ref="File_Config" outputMimeType="application/csv; separator=|; header=true" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="convert-payload" doc:id="8ea6a3cb-278d-4f77-82b2-4a4e31f81739" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="salesforce-opportunity-batch-job" doc:id="bd9d4265-c0f7-401e-9dea-7f683f17fb25" >
			<batch:process-records >
				<batch:step name="processing-records" doc:id="c09bf2c5-9ca7-4188-bc1f-b1adfdd90ac3" >
					<ee:transform doc:name="var [accountNumber and val]" doc:id="7254f82f-89d9-4390-8f60-b6533060b988" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="accountNumber" ><![CDATA[output application/json
---
[payload."Account Number"]]]></ee:set-variable>
							<ee:set-variable variableName="val" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<flow-ref doc:name="datapipe-vs-others-sub_Flow" doc:id="f0f81304-319a-4088-800f-407136330377" name="datapipe-vs-others-sub_Flow"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="95aaa711-e798-4c28-8a5d-b1766575088b" streaming="true" preserveMimeTypes="true">
						<logger level="INFO" doc:name="start-log" doc:id="a14630b6-8ea8-46cb-8bb4-5b77216651ee" />
						<ee:transform doc:name="storing-final-response" doc:id="cbd88ca1-7f2d-4ddf-8e1b-a5064d9e134a" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="finalResponse" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="TXSTA-file-payload" doc:id="34122ad3-9027-41ef-bae6-ca29f72f10ac" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true, separator = " "
---
vars.finalResponse[1] map{
	"ORDERID": vars.finalResponse[0]."Line Item Number",
	"LINENUMBER": 1,
	"SUBLINENUMBER": 1,
	"EVENTTYPEID": vars.finalResponse[0]."Transaction Type",
	"ACCOUNTINGDATE": "",
	"PRODUCTID": "",
	"PRODUCTNAME": "",
	"PRODUCTDESCRIPTION": "",
	"UNITTYPEFORVALUE 2"  : "GC",
	"NUMBEROFUNITS": "",
	"UNITVALUE": "",
	"UNITTYPEFORUNITVALUE 2": "",
	"COMPENSATIONDATE": vars.finalResponse[0]."Invoice Date",
	"ALTERNATEORDERNUMBER": vars.finalResponse[0]."Invoice Number",
	"DATASOURCE": "",
	"NATIVECURRENCY": vars.finalResponse[0]."Currency Code",
	"NATIVECURRENCYAMOUNT": vars.finalResponse[0].Amount,
	"DISCOUNTPERCENT": "",
	"DISCOUNTTYPE": "",
	"BILLTOCUSTID": "",
	"BILLTOCONTACT": "",
	"BILLTOCOMPANY": "",
	"BILLTOAREACODE": "",
	"BILLTOPHONE": "",
	"BILLTOFAX": "",
	"BILLTOADDRESS1": "",
	"BILLTOADDRESS2": "",
	"BILLTOADDRESS3": "",
	"BILLTOCITY": "",
	"BILLTOSTATE": "",
	"BILLTOCOUNTRY": "",
	"BILLTOPOSTALCODE": "",
	"BILLTOINDUSTRY": "",
	"BILLTOGEOGRAPHY": "",
	"SHIPTOCUSTID": "",
	"SHIPTOCONTACT": "",
	"SHIPTOCOMPANY": "",
	"SHIPTOAREACODE": "",
	"SHIPTOPHONE": "",
	"SHIPTOFAX": "",
	"SHIPTOADDRESS1": "",
	"SHIPTOADDRESS2": "",
	"SHIPTOADDRESS3": "",
	"SHIPTOCITY": "",
	"SHIPTOSTATE": "",
	"SHIPTOCOUNTRY": "",
	"SHIPTOPOSTALCODE": "",
	"SHIPTOINDUSTRY": "",
	"SHIPTOGEOGRAPHY": "",
	"OTHERTOCUSTID": "",
	"OTHERTOCONTACT": "",
	"OTHERTOCOMPANY": "",
	"OTHERTOAREACODE": "",
	"OTHERTOPHONE": "",
	"OTHERTOFAX": "",
	"OTHERTOADDRESS1": "",
	"OTHERTOADDRESS2": "",
	"OTHERTOADDRESS3": "",
	"OTHERTOCITY": "",
	"OTHERTOSTATE": "",
	"OTHERTOCOUNTRY": "",
	"OTHERTOPOSTALCODE": "",
	"OTHERTOINDUSTRY": "",
	"OTHERTOGEOGRAPHY": "",
	"REASONID": "",
	"COMMENTS": "",
	"GENERICATTRIBUTE3": vars.finalResponse[0]."Device Number",
	"GENERICATTRIBUTE4": vars.finalResponse[1].FinalOpportunityType[0],
	"GENERICATTRIBUTE5": vars.finalResponse[1].PartnerType[0],
	"GENERICATTRIBUTE6": vars.finalResponse[1].PartnerAccountName[0],
	"GENERICATTRIBUTE7": vars.finalResponse[1].OpportunityCategory[0],
	"GENERICATTRIBUTE8": "",
	"GENERICATTRIBUTE9": vars.finalResponse[1].PartnerAccountOwner[0],
	"GENERICATTRIBUTE10": vars.finalResponse[1].PartnerAccountOwnerRole[0],
	"GENERICATTRIBUTE11": vars.finalResponse[1].PartnerContractType[0],
	"GENERICATTRIBUTE12": vars.finalResponse[1].CommissionRole[0],
	"GENERICATTRIBUTE13": vars.finalResponse[1].OracleVendorId[0],
	"GENERICATTRIBUTE14": "",
	"GENERICATTRIBUTE21": vars.finalResponse[0]."Invoice Source",
	"GENERICATTRIBUTE22": vars.finalResponse[0]."Product Group",
	"GENERICATTRIBUTE23": vars.finalResponse[0]."Product Type",
	"GENERICATTRIBUTE24": vars.finalResponse[0]."Product Type Charge Type",
	"GENERICATTRIBUTE25": vars.finalResponse[1].PartnerAccountId[0],
	"GENERICATTRIBUTE27": vars.finalResponse[1].PartnerAccountType[0],
	"GENERICATTRIBUTE28": vars.finalResponse[1].PartnerAccountSubType[0],
	"GENERICATTRIBUTE31": vars.finalResponse[0]."Account Key",
	"UNITTYPEFORGENERICNUMBER4": "",
	"GENERICNUMBER5": "",
	"UNITTYPEFORGENERICNUMBER5": "",
	"GENERICNUMBER6": "",
	"UNITTYPEFORGENERICNUMBER6": "",
	"GENERICDATE1": vars.finalResponse[1].CloseDate[0],
	"GENERICDATE4": vars.finalResponse[0]."Contract End Date",
	"GENERICDATE6": "",
	"GENERICBOOLEAN1": "",
	"GENERICBOOLEAN2": "",
	"GENERICBOOLEAN3": "",
	"GENERICBOOLEAN4": "",
	"GENERICBOOLEAN5": "",
	"GENERICBOOLEAN6": ""
	}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java
---
"C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF\Write\\" ++ "TXSTA-" ++ "dev-" ++ now() as String {format: "yyyyMMdd"} ++ "_" ++ now() as String {format: "HHmmSS"} ++ "_" ++ now() as String {format: "MMMMdd"} ++ ".csv"]]></ee:set-variable>
							</ee:variables>
						
</ee:transform>
						<file:write doc:name="Write-TXSTA" doc:id="fa2c34ae-f361-4bf6-89f6-2dfde82d3220" config-ref="File_Config" path="#[vars.path]"/>
						<ee:transform doc:name="TXTA-file-payload" doc:id="c673a13a-945b-419b-a81b-5a7488687da0" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true, separator = " "
---
vars.finalResponse[1] map{
	"ORDERID": vars.finalResponse[0]."Line Item Number",
	"LINENUMBER": 1,
	"SUBLINENUMBER": 1,
	"EVENTTYPEID": vars.finalResponse[0]."Transaction Type",
    "PAYEEID": vars.finalResponse[1].ParticipantID[0],
    "PAYEETYPE": "Participant",
    "POSITIONNAME": "",
    "TITLENAME": "",
    "GENERICATTRIBUTE1": "",
    "GENERICATTRIBUTE2": "",
    "GENERICATTRIBUTE3": "",
    "GENERICATTRIBUTE4": "",
    "GENERICATTRIBUTE5": "",
    "GENERICATTRIBUTE6": "",
    "GENERICATTRIBUTE7": "",
    "GENERICATTRIBUTE8": "",
    "GENERICATTRIBUTE9": "",
    "GENERICATTRIBUTE10": "",
    "GENERICATTRIBUTE11": "",
    "GENERICATTRIBUTE12": "",
    "GENERICATTRIBUTE13": "",
    "GENERICATTRIBUTE14": "",
    "GENERICATTRIBUTE15": "",
    "GENERICATTRIBUTE16": "",
    "GENERICNUMBER1": "",
    "UNITTYPEFORGENERICNUMBER1": "",
    "GENERICNUMBER2": "",
    "UNITTYPEFORGENERICNUMBER2": "",
    "GENERICNUMBER3": "",
    "UNITTYPEFORGENERICNUMBER3": "",
    "GENERICNUMBER4": "",
    "UNITTYPEFORGENERICNUMBER4": "",
    "GENERICNUMBER5": "",
    "UNITTYPEFORGENERICNUMBER5": "",
    "GENERICNUMBER6": "",
    "UNITTYPEFORGENERICNUMBER6": "",
    "GENERICDATE1": "",
    "GENERICDATE2": "",
    "GENERICDATE3": "",
    "GENERICDATE4": "",
    "GENERICDATE5": "",
    "GENERICDATE6": "",
    "GENERICBOOLEAN1": "",
    "GENERICBOOLEAN2": "",
    "GENERICBOOLEAN3": "",
    "GENERICBOOLEAN4": "",
    "GENERICBOOLEAN5": "",
    "GENERICBOOLEAN6": ""
}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java
---
"C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF\Write\\" ++ "TXTA-" ++ "dev-" ++ now() as String {format: "yyyyMMdd"} ++ "_" ++ now() as String {format: "HHmmSS"} ++ "_" ++ now() as String {format: "MMMMdd"} ++ ".csv"]]></ee:set-variable>
							</ee:variables>
						
</ee:transform>
						<file:write doc:name="Write-TXTA" doc:id="2da29880-3565-4337-b3ab-956811b3bcf4" path="#[vars.path]"/>
						<logger level="INFO" doc:name="end-log" doc:id="a09162f3-faf0-4f1c-9f23-0c47caa3e158" />
					</batch:aggregator>
				</batch:step>
				<batch:step name="catching-errors" doc:id="702d3d7a-b9d2-48e7-b9d6-7e0827b60551" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="47e9003c-25b6-4df1-ab16-33209803d4c1" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="dd7d8bd3-3840-49c8-85fc-679a44e0139f" />
					</batch:aggregator>
					<logger level="INFO" doc:name="Logger" doc:id="5522ece2-ca0b-4b8b-8b6b-93bea4c73df1" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c8ba4597-0880-40db-8b82-61e29109539a" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="datapipe-vs-others-sub_Flow" doc:id="7f60195c-f7ba-4c3d-93e5-74a007c8f665" >
		<logger level="INFO" doc:name="start-log" doc:id="aaa04750-1a6b-4391-bf00-4a6ee55ab313" />
		<choice doc:name="Choice" doc:id="fedc46b5-a741-4284-a52d-a69be1ee17d7" >
			<when expression='#[payload."Invoice Source" == "Datapipe"]'>
				<flow-ref doc:name="datapipe-sub-flow" doc:id="2af90216-e01f-4fbf-984f-1d05bd96b977" name="datapipe-sub-flow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="us-cloud-sub-flow" doc:id="656ef5f3-353d-474d-bb76-e667b4c42034" name="us-cloud-sub-flow"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="end-log" doc:id="b3c0274f-7456-4c33-b0b7-fc9dd231442b" />
	</sub-flow>
</mule>
