salesforce-opportunity/src/main/mule/salesforce-opportunity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="salesforce-opportunityFlow" doc:id="dc491c37-ed78-4cf1-b472-435de51e8254" >
		<file:listener doc:name="read-records" doc:id="9199396d-84a9-4993-a94a-78ba4ad6ec0b" directory="${file.readPath}" config-ref="File_Config" outputMimeType="application/csv; separator=|; header=true" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="convert-payload" doc:id="8ea6a3cb-278d-4f77-82b2-4a4e31f81739" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="salesforce-opportunity-batch-job" doc:id="bd9d4265-c0f7-401e-9dea-7f683f17fb25" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="processing-records" doc:id="c09bf2c5-9ca7-4188-bc1f-b1adfdd90ac3" >
					<ee:transform doc:name="var [accountNumber and val]" doc:id="7254f82f-89d9-4390-8f60-b6533060b988" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="accountNumber" ><![CDATA[output application/json
---
[payload."Account Number"]]]></ee:set-variable>
							<ee:set-variable variableName="val" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<flow-ref doc:name="datapipe-vs-others-sub_Flow" doc:id="f0f81304-319a-4088-800f-407136330377" name="datapipe-vs-others-sub_Flow"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="95aaa711-e798-4c28-8a5d-b1766575088b" preserveMimeTypes="true" size="1000">
						<logger level="INFO" doc:name="start-log" doc:id="a14630b6-8ea8-46cb-8bb4-5b77216651ee" />
						<ee:transform doc:name="var[final-response]" doc:id="fcb05907-64a0-4403-a58c-d3f058ed1fc2" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="finalResponse" ><![CDATA[%dw 2.0
output application/json
---
flatten(payload)]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="TXSTA-file-payload" doc:id="34122ad3-9027-41ef-bae6-ca29f72f10ac" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true, separator = " "
---
vars.finalResponse map{
	"ORDERID": $."Line Item Number",
	"LINENUMBER": 1,
	"SUBLINENUMBER": 1,
	"EVENTTYPEID": $."Transaction Type",
	"ACCOUNTINGDATE": "",
	"PRODUCTID": "",
	"PRODUCTNAME": "",
	"PRODUCTDESCRIPTION": "",
	"UNITTYPEFORVALUE 2"  : "GC",
	"NUMBEROFUNITS": "",
	"UNITVALUE": "",
	"UNITTYPEFORUNITVALUE 2": "",
	"COMPENSATIONDATE": $."Invoice Date",
	"ALTERNATEORDERNUMBER": $."Invoice Number",
	"DATASOURCE": "",
	"NATIVECURRENCY": $."Currency Code",
	"NATIVECURRENCYAMOUNT": $.Amount,
	"DISCOUNTPERCENT": "",
	"DISCOUNTTYPE": "",
	"BILLTOCUSTID": "",
	"BILLTOCONTACT": "",
	"BILLTOCOMPANY": "",
	"BILLTOAREACODE": "",
	"BILLTOPHONE": "",
	"BILLTOFAX": "",
	"BILLTOADDRESS1": "",
	"BILLTOADDRESS2": "",
	"BILLTOADDRESS3": "",
	"BILLTOCITY": "",
	"BILLTOSTATE": "",
	"BILLTOCOUNTRY": "",
	"BILLTOPOSTALCODE": "",
	"BILLTOINDUSTRY": "",
	"BILLTOGEOGRAPHY": "",
	"SHIPTOCUSTID": "",
	"SHIPTOCONTACT": "",
	"SHIPTOCOMPANY": "",
	"SHIPTOAREACODE": "",
	"SHIPTOPHONE": "",
	"SHIPTOFAX": "",
	"SHIPTOADDRESS1": "",
	"SHIPTOADDRESS2": "",
	"SHIPTOADDRESS3": "",
	"SHIPTOCITY": "",
	"SHIPTOSTATE": "",
	"SHIPTOCOUNTRY": "",
	"SHIPTOPOSTALCODE": "",
	"SHIPTOINDUSTRY": "",
	"SHIPTOGEOGRAPHY": "",
	"OTHERTOCUSTID": "",
	"OTHERTOCONTACT": "",
	"OTHERTOCOMPANY": "",
	"OTHERTOAREACODE": "",
	"OTHERTOPHONE": "",
	"OTHERTOFAX": "",
	"OTHERTOADDRESS1": "",
	"OTHERTOADDRESS2": "",
	"OTHERTOADDRESS3": "",
	"OTHERTOCITY": "",
	"OTHERTOSTATE": "",
	"OTHERTOCOUNTRY": "",
	"OTHERTOPOSTALCODE": "",
	"OTHERTOINDUSTRY": "",
	"OTHERTOGEOGRAPHY": "",
	"REASONID": "",
	"COMMENTS": "",
	"GENERICATTRIBUTE3": $."Device Number",
	"GENERICATTRIBUTE4": $.FinalOpportunityType,
	"GENERICATTRIBUTE5": $.PartnerType,
	"GENERICATTRIBUTE6": $.PartnerAccountName,
	"GENERICATTRIBUTE7": $.OpportunityCategory,
	"GENERICATTRIBUTE8": "",
	"GENERICATTRIBUTE9": $.PartnerAccountOwner,
	"GENERICATTRIBUTE10": $.PartnerAccountOwnerRole,
	"GENERICATTRIBUTE11": $.PartnerContractType,
	"GENERICATTRIBUTE12": $.CommissionRole,
	"GENERICATTRIBUTE13": $.OracleVendorId,
	"GENERICATTRIBUTE14": "",
	"GENERICATTRIBUTE21": $."Invoice Source",
	"GENERICATTRIBUTE22": $."Product Group",
	"GENERICATTRIBUTE23": $."Product Type",
	"GENERICATTRIBUTE24": $."Product Type Charge Type",
	"GENERICATTRIBUTE25": $.PartnerAccountId,
	"GENERICATTRIBUTE27": $.PartnerAccountType,
	"GENERICATTRIBUTE28": $.PartnerAccountSubType,
	"GENERICATTRIBUTE31": $."Account Key",
	"UNITTYPEFORGENERICNUMBER4": "",
	"GENERICNUMBER5": "",
	"UNITTYPEFORGENERICNUMBER5": "",
	"GENERICNUMBER6": "",
	"UNITTYPEFORGENERICNUMBER6": "",
	"GENERICDATE1": $.CloseDate,
	"GENERICDATE4": $."Contract End Date",
	"GENERICDATE6": "",
	"GENERICBOOLEAN1": "",
	"GENERICBOOLEAN2": "",
	"GENERICBOOLEAN3": "",
	"GENERICBOOLEAN4": "",
	"GENERICBOOLEAN5": "",
	"GENERICBOOLEAN6": ""
	}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java
---
"C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF\Write\\" ++ "TXSTA-" ++ "dev-" ++ now() as String {format: "yyyyMMdd"} 
++ "_" ++ now() as String {format: "HHmmSS"} ++ "_" ++ now() as String {format: "MMMMdd"} ++ ".csv"]]></ee:set-variable>
							</ee:variables>
						
</ee:transform>
						<file:write doc:name="Write-TXSTA" doc:id="fa2c34ae-f361-4bf6-89f6-2dfde82d3220" config-ref="File_Config" path="#[vars.path]"/>
						<ee:transform doc:name="TXTA-file-payload" doc:id="c673a13a-945b-419b-a81b-5a7488687da0" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true, separator = " "
---
vars.finalResponse map{
	"ORDERID": $."Line Item Number",
	"LINENUMBER": 1,
	"SUBLINENUMBER": 1,
	"EVENTTYPEID": $."Transaction Type",
    "PAYEEID": $.ParticipantID[0],
    "PAYEETYPE": "Participant",
    "POSITIONNAME": "",
    "TITLENAME": "",
    "GENERICATTRIBUTE1": "",
    "GENERICATTRIBUTE2": "",
    "GENERICATTRIBUTE3": "",
    "GENERICATTRIBUTE4": "",
    "GENERICATTRIBUTE5": "",
    "GENERICATTRIBUTE6": "",
    "GENERICATTRIBUTE7": "",
    "GENERICATTRIBUTE8": "",
    "GENERICATTRIBUTE9": "",
    "GENERICATTRIBUTE10": "",
    "GENERICATTRIBUTE11": "",
    "GENERICATTRIBUTE12": "",
    "GENERICATTRIBUTE13": "",
    "GENERICATTRIBUTE14": "",
    "GENERICATTRIBUTE15": "",
    "GENERICATTRIBUTE16": "",
    "GENERICNUMBER1": "",
    "UNITTYPEFORGENERICNUMBER1": "",
    "GENERICNUMBER2": "",
    "UNITTYPEFORGENERICNUMBER2": "",
    "GENERICNUMBER3": "",
    "UNITTYPEFORGENERICNUMBER3": "",
    "GENERICNUMBER4": "",
    "UNITTYPEFORGENERICNUMBER4": "",
    "GENERICNUMBER5": "",
    "UNITTYPEFORGENERICNUMBER5": "",
    "GENERICNUMBER6": "",
    "UNITTYPEFORGENERICNUMBER6": "",
    "GENERICDATE1": "",
    "GENERICDATE2": "",
    "GENERICDATE3": "",
    "GENERICDATE4": "",
    "GENERICDATE5": "",
    "GENERICDATE6": "",
    "GENERICBOOLEAN1": "",
    "GENERICBOOLEAN2": "",
    "GENERICBOOLEAN3": "",
    "GENERICBOOLEAN4": "",
    "GENERICBOOLEAN5": "",
    "GENERICBOOLEAN6": ""
}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java
---
"C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF\Write\\" ++ "TXTA-" ++ "dev-" ++ now() as String {format: "yyyyMMdd"} ++ "_" ++ now() as String {format: "HHmmSS"} ++ "_" ++ now() as String {format: "MMMMdd"} ++ ".csv"]]></ee:set-variable>
							</ee:variables>
						
</ee:transform>
						<file:write doc:name="Write-TXTA" doc:id="2da29880-3565-4337-b3ab-956811b3bcf4" path="#[vars.path]"/>
						<logger level="INFO" doc:name="end-log" doc:id="a09162f3-faf0-4f1c-9f23-0c47caa3e158" />
					</batch:aggregator>
				</batch:step>
				<batch:step name="catching-errors" doc:id="702d3d7a-b9d2-48e7-b9d6-7e0827b60551" acceptPolicy="ONLY_FAILURES">
					<try doc:name="Try" doc:id="e3664643-099c-4f5d-910b-e4f2c9227000" >
						<raise-error doc:name="SF_OPPORTUNITY:INVALID_ACCOUNT_FOUNDED" doc:id="da8ef67d-c2dc-4df9-9184-c8c7519b8f49" type="SF_OPPORTUNITY:INVALID_ACCOUNT_FOUNDED" description='The account number is not valid.' />
						<error-handler >
							<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="55494ed0-4516-42b4-b1aa-4b98971db32e" >
								<ee:transform doc:name="error-records" doc:id="d14d2263-7948-4e3b-8214-d1fecff25204">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
						<ee:variables>
						</ee:variables>
					</ee:transform>
								<ee:transform doc:name="error-message" doc:id="c2fed048-610f-4620-a3bb-55ba71b10a89">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/csv header = true, separator = " "
---
{
	"ID": payload."Account Number",
	"Error": error.description
}]]></ee:set-payload>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/java
---
"C:\Users\pkumar\IMPORTANT AND ADVANCED TOPICS\SF\Error\\" ++ "Error-" ++ payload."Account Number" ++ ".csv"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
								<flow-ref doc:name="common-write-sub-flow" doc:id="a8b60a07-2be4-4afb-849c-31eb4463431b" name="common-write-sub-flow" />
							</on-error-propagate>
						</error-handler>
					</try>
					<batch:aggregator doc:name="Batch Aggregator for error" doc:id="bccc2045-232f-4bff-a289-020563ce408f" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="d865cb87-818f-45b8-877d-dffacfa73283" />
					</batch:aggregator>
				</batch:step>
				<logger level="INFO" doc:name="end-log" doc:id="589d5e84-2514-4a7a-807c-14e6cc145a91" />
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c8ba4597-0880-40db-8b82-61e29109539a" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="datapipe-vs-others-sub_Flow" doc:id="7f60195c-f7ba-4c3d-93e5-74a007c8f665" >
		<logger level="INFO" doc:name="start-log" doc:id="aaa04750-1a6b-4391-bf00-4a6ee55ab313" />
		<choice doc:name="Choice" doc:id="fedc46b5-a741-4284-a52d-a69be1ee17d7" >
			<when expression='#[payload."Invoice Source" == "Datapipe"]'>
				<flow-ref doc:name="datapipe-sub-flow" doc:id="2af90216-e01f-4fbf-984f-1d05bd96b977" name="datapipe-sub-flow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="us-cloud-sub-flow" doc:id="656ef5f3-353d-474d-bb76-e667b4c42034" name="us-cloud-sub-flow"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="end-log" doc:id="b3c0274f-7456-4c33-b0b7-fc9dd231442b" />
	</sub-flow>
</mule>
